body {
    padding: 95px;
    background-color: lightblue;
    text-align: center;
}

h1{
    color: blue;
    height:45px;
}

button{
    padding: 18px 75px;
    text-align: center;
    background-color: blue;
    color: white;
}