body {
    padding: 150px;
    background-color: lightblue;
    text-align: center;
}

.Quiz h1{
    color: blue;
    height:35px;
}

button{
    padding: 18px 75px;
    text-align: center;
    background-color: blue;
    color: white;
}